.MemoryCard {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	box-shadow: 2px 2px 4px 4px #DEDEDE;
	transition: 0.3s;
	transform-style: preserve-3d;
	position: relative;
	cursor: pointer;
	
	:global(img[alt="memory-card"]) {
		width: 95%;
		height: 95%;
	}
	
	.MemoryCard-face {
		backface-visibility: hidden;
		position: absolute;
		width: 100%;
		height: 100%;

		&.MemoryCard-back-face {
			transform: rotateY(180deg);
		}
	}

	&.is-flipped {
		transform: rotateY(180deg);
	}

	&.is-inactive {
		opacity: 0;
	}
}